@model AirStar.ViewModels.LogInViewModel

<h1>login</h1>

<form action="/Auth/LogIn" method="post">
    <div>
        Email @Html.TextBoxFor(x => x.Email)
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        Password @Html.TextBoxFor(x => x.Password, new { @type = "password" })
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        @Html.ValidationSummary(true)
    </div>
    <div>
        <input type="submit" value="Log in" />
    </div>
</form>

<div>
    Need an account?
    <a href="/Auth/Registration">Register now</a>
</div>