<div>
    @Html.ActionLink("Aircrafts", "List", "Aircraft", null, new {@class = "nav-link"})
</div>

<div>
    @Html.ActionLink("Airports","List","Airport", null, new { @class = "nav-link" })
</div>

<div>
    @Html.ActionLink("Countries", "List", "Country", null, new {@class = "nav-link"})
</div>

<div>
    @Html.ActionLink("Routes", "List", "Route", null, new { @class = "nav-link" })
</div>