@model PeriodViewModel

<h3 class="mt-4 text-center">
    Period: last 3 month (@Html.DisplayFor(x => x.ThreeMonths))
</h3>

<div class="d-flex flex-row justify-content-center">
    <div class="dictionatyBlock m-2">
        @Html.ActionLink("All routes & flights", "PeriodStatistic", "Statistics", 
            new { startPeriod = Model.StartThreeMonthPeriod, threeMonthDuration = true}, 
            new { @class = "nav-link dictionaryText" })
    </div>

    <div class="dictionatyBlock originBlueColor m-2">
        @Html.ActionLink("Each route", "RouteList", "Prediction", null, new { @class = "nav-link dictionaryText" })
    </div>
</div>

<style>
    .dictionatyBlock {
        text-align: center;
        line-height: 200px;
        width: 200px;
        height: 200px;
        padding: 0;
        background-color: #ea6901;
    }

    .originBlueColor {
        background-color: #006efd;
    }

    .dictionaryText {
        color: white;
    }
</style>
